
</div>
</div>
</div>
<div class="container">
<div class="row">
  <footer class="footer">
    <div class="row">
      <div class="col">
        <img src="https://user-images.githubusercontent.com/96031819/218300324-0eba5571-82f9-4a24-af2a-48c8fa935780.svg" alt="bearclaw svg logo" class="img-fluid">
      </div>
      <div class="col"><b>bearclaw</b> is a tiny static site generator <br><small>write your content in markdown and bearclaw converts it to html</small></div>
      <div class="col">
        <a href="https://github.com/donuts-are-good/bearclaw">source code</a>, <a href="https://github.com/donuts-are-good/bearclaw/blob/master/LICENSE">license</a> <br>
        <a href="https://github.com/donuts-are-good/bearclaw/blob/master/README">readme</a>, <a href="https://github.com/donuts-are-good/bearclaw/issues/new">bugs</a> <br>

      </div>
      <div class="col"><span style="color:deeppink">&hearts;</span> <b>donuts-are-good</b><br>MIT License<br>2023</div>
    </div>
  </footer>
</div>
</div>
</body>
</html>